.input-passwd {
  width: 98%;
}

.passwd-indicator {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.passwd-input-block input {
  color: var(--green-700);
  width: 280px;
  padding: 10px;
  border: solid 1px var(--green-700);;
}
