.passwd-indicator-line-comp {
  width: 32.5%;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.bottom-border-gray {
  border-bottom-color: var(--gray-400);
}

.bottom-border-red {
  border-bottom-color: var(--red-400);
}

.bottom-border-yellow {
  border-bottom-color: var(--yellow-400);
}

.bottom-border-green {
  border-bottom-color: var(--green-400);
}
